@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

:root {
  --greyDark-1: #121721;
  --greyLight-1: #e4ebf5;
  --loginInputBackgroundColor: #3b4148;
  --containerBackgroundColor: #363b41;
  --InputHoverBackgroundColor: #434a52;
  --SubmitBackgroundColor: #ea4c88;
  --SubmitColor: #eee;
  --SubmitHoverBackgroundColor: #d44179;
  --SubmitHoverBackgroundColor: #d44179;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #a7a1ae;
  background-color: #1f2739;
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #4dc3fa;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  color: #fb667a;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #fb667a;
  text-decoration: none;
}

.blue {
  color: #185875;
}
.yellow {
  color: #fff842;
}

main {
  padding: 1.35rem 1.25rem;
}

input {
  font-size: 1rem;
  text-transform: lowercase;
  outline: none;
  background-color: var(--loginInputBackgroundColor);
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

input:hover,
input:focus {
  background-color: var(--InputHoverBackgroundColor);
}

.form {
  display: flex;
  padding-bottom: 1.35rem;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background: var(--greyDark-1);
  border-radius: 40px;
  margin-bottom: 20px;
}

#token {
  width: 100%;
  height: 30px;
  border: 1px solid rgb(15, 167, 167);
  border-radius: 15px;
}

#validarToken {
  border: 1px solid rgb(15, 167, 167);
  border-radius: 15px;
}

.tokens {
  position: relative;
  float: left;
  margin-top: 10px;
  width: 26%;
  padding: 0.5rem 0.75rem;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  background: var(--containerBackgroundColor);
}

button {
  vertical-align: middle;
  height: 40px;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  background-color: var(--SubmitBackgroundColor);
  color: var(--SubmitColor);
  font-weight: 700;
  font-size: 16px;
  outline: none;
  text-transform: uppercase;
  border: none;
}

button:focus {
  outline: 0;
}

button:hover,
button:focus {
  background-color: var(--SubmitHoverBackgroundColor);
}

#tokens {
  position: relative;
  float: left;
  padding: 0.5rem 0.5rem;
  width: 68.8%;
}
.titulo {
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  font-size: 1.5rem;
  color: rgb(15, 167, 167);
  font-weight: 300;
}
.subTitulo {
  background: #0000001c;
  color: #185875;
  border: 1px;
  width: 100%;
  height: 1px;
}

.list-group {
  display: block;
  width: 100%;
  height: auto;
  background: var(--containerBackgroundColor);
  border-radius: 25px;
  height: 200px;
  padding: 1rem 1rem;
}
#listaTokens {
  display: block;
  width: 100%;
  height: auto;
  font-size: 1.3rem;
}
.list-group-item {
  display: contents;
}

.form2 {
  display: flex;
  justify-content: center;
}

.opcoesform2 {
  margin-top: 10px;
  width: 26%;
  padding: 0.5rem 0.75rem;
  font-family: "Poppins", sans-serif;
  background: var(--containerBackgroundColor);
  border-radius: 25px;
}
.opcoesform2 input {
  width: 100%;
  height: 30px;
}

#tabela {
  text-align: center;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

#tabela td,
#container th {
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 10px;
  width: 10px;
}

#tabela tr:nth-child(odd) {
  background-color: #323c50;
}

#tabela tr:nth-child(even) {
  background-color: #2c3446;
}

#tabela th {
  padding: 3px 3px;
  text-align: center;
  background-color: #1f2739;
}

#tabela tr:hover {
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

#tabela td:hover {
  background-color: #fff842;
  color: #403e10;
  font-weight: bold;
  box-shadow: #7f7c21 -1px 1px, #7f7c21 -2px 2px, #7f7c21 -3px 3px,
    #7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
  #tabela td:nth-child(4),
  #tabela th:nth-child(4) {
    display: none;
  }
}

#tabela td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

tr:nth-child(even) {
  background-color: #979797;
}

.selecionaEstadoCerto td.selecionaCampoCerto {
  background: #90ee90;
}

.selecionaEstadoErrado td.selecionaCampoErrado {
  background: #f25b63;
}

.tokenFinalCorreto td {
  background: #90ee90;
}

#validarToken.errado {
  background: #f25b63;
}

#validarToken.certo {
  background: #90ee90;
}
